body {
    background-color: #2B2B2B;
    color: #e8e9eb;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

h1 {
    color: #f09d51;
    font-family: Creepster;
    font-size: 80px;
    margin: 0;
}

h3 {
    color: #f09d51;
    font-family: Creepster;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 16px;
}

.title {
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 4%;
}

.cardset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: #e8e9eb;
    border-style: solid;
    border-width: 2px;
    margin: 12px;
    border-radius: 8px;
    color: #e8e9eb;
    transition: 200ms;
    width: 20vw;
    padding: 1.5em;
}

.card:hover {
    background-color: #353535;
    cursor: crosshair;
}

.poster {
    border-radius: 2px;
    width: 135px;
    height: 194px;
    border: #e8e9eb;
    border-style: solid;
    border-width: 5px;
}

.cardp {
    font-size: 12px;
}

button {
    background-color: #f09d51;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    transition: 200ms;
}

button:hover {
    background-color: #F8BB75;
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0px 11px 20px rgba(232, 143, 40, 0.65);
    border-radius: 4px;;
    cursor:pointer
}